<div class="col-sm-9">
  <h4><small>The most recent post</small></h4>
  <hr>
  <%= render @posts %>
  <h4>Leave a Comment:</h4>
  <hr>
  <%= render 'comments/new' %>

  <p><span class="badge"><%= Comment.count %></span> Comments:</p>
  <hr>

  <%= render @comments %>

</div>
