<div class="text-center">
  <h1>Photos</h1>
  <h4><%= link_to 'Add Photo', new_image_path %>
</div>

<% @images.each do |image| %>

  <div id="pimage">
    <%= image_tag image.avatar.url, :class => "pimage" %>
    <h4><small><%= image.caption %></small></h4>
  </div>
<% end %>
